body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;

    color: #333;
}

h1 {
    text-align: center;
    color: #6c757d;
}

img {
    width: 50%;
}

h3 {
    color: #6c757d;
}


a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}
